USE [goldDB]
GO

/****** Remove Table Objects    Script Date: 12/14/2020 7:28:56 AM ******/
IF OBJECT_ID('dbo.tasks', 'u') IS NOT NULL
DROP TABLE [dbo].[tasks]
IF OBJECT_ID('dbo.workorders', 'u') IS NOT NULL
DROP TABLE [dbo].[workorders]
IF OBJECT_ID('dbo.comments', 'u') IS NOT NULL
DROP TABLE [dbo].[comments]
IF OBJECT_ID('dbo.equipment', 'u') IS NOT NULL
DROP TABLE [dbo].[equipment]
IF OBJECT_ID('dbo.reports', 'u') IS NOT NULL
DROP TABLE [dbo].[reports]
IF OBJECT_ID('dbo.auth_roles', 'u') IS NOT NULL
DROP TABLE [dbo].[auth_roles]
IF OBJECT_ID('dbo.auth_user_ci', 'u') IS NOT NULL
DROP TABLE [dbo].[auth_user_ci]
IF OBJECT_ID('dbo.auth_user_ex', 'u') IS NOT NULL
DROP TABLE [dbo].[auth_user_ex]
IF OBJECT_ID('dbo.auth_user_rl', 'u') IS NOT NULL
DROP TABLE [dbo].[auth_user_rl]
IF OBJECT_ID('dbo.auth_user_sa', 'u') IS NOT NULL
DROP TABLE [dbo].[auth_user_sa]
IF OBJECT_ID('dbo.auth_users', 'u') IS NOT NULL
DROP TABLE [dbo].[auth_users]
GO

/****** Object:  Table [dbo].[auth_roles]    Script Date: 12/14/2020 7:28:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[auth_user_ci]    Script Date: 12/14/2020 7:28:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user_ci](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[contact_type] [nvarchar](255) NOT NULL,
	[contact_value] [nvarchar](255) NULL,
	[sort_order] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[auth_user_ex]    Script Date: 12/14/2020 7:28:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user_ex](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[prop_name] [nvarchar](255) NOT NULL,
	[prop_value] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[auth_user_rl]    Script Date: 12/14/2020 7:28:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user_rl](
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[auth_user_sa]    Script Date: 12/14/2020 7:28:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user_sa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[is_available] [int] NULL,
	[entry_note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[auth_users]    Script Date: 12/14/2020 7:28:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](255) NOT NULL,
	[passwd] [nvarchar](255) NOT NULL,
	[fname] [nvarchar](255) NULL,
	[lname] [nvarchar](255) NULL,
	[notes] [nvarchar](255) NULL,
	[schedule] [nvarchar](255) NULL,
	[language] [nvarchar](255) NULL,
	[badge] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[comments]    Script Date: 12/14/2020 7:28:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[note] [text] NULL,
	[t_stamp] [datetime] NULL,
	[identifier] [nvarchar](75) NULL,
	[user_id] [int] NULL,
 CONSTRAINT [PK_comments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[equipment]    Script Date: 12/14/2020 7:28:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[description] [text] NULL,
 CONSTRAINT [PK_equipment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[reports]    Script Date: 12/14/2020 7:28:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reports](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[report_name] [nvarchar](255) NOT NULL,
	[report_bytes] [varbinary](max) NULL,
	[t_stamp] [datetime] NOT NULL,
 CONSTRAINT [PK_reports] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[tasks]    Script Date: 12/14/2020 7:28:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tasks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[description] [text] NULL,
	[equipment_id] [int] NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
	[actual_start] [datetime] NULL,
	[actual_end] [datetime] NULL,
	[user_id] [int] NULL,
 CONSTRAINT [PK_tasks] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[workorders]    Script Date: 12/14/2020 7:28:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[workorders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[description] [text] NULL,
	[equipment_id] [int] NULL,
	[rating] [float] NULL,
	[user_id] [int] NULL,
 CONSTRAINT [PK_workorders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Table Inserts ******/

SET IDENTITY_INSERT [dbo].[auth_roles] ON 
INSERT [dbo].[auth_roles] ([id], [role_name]) VALUES (1, N'Administrator')
INSERT [dbo].[auth_roles] ([id], [role_name]) VALUES (2, N'Operator')
SET IDENTITY_INSERT [dbo].[auth_roles] OFF
GO

SET IDENTITY_INSERT [dbo].[auth_user_ci] ON 
INSERT [dbo].[auth_user_ci] ([id], [user_id], [contact_type], [contact_value], [sort_order]) VALUES (1, 1, N'email', N'admin@acme.com', 0)
INSERT [dbo].[auth_user_ci] ([id], [user_id], [contact_type], [contact_value], [sort_order]) VALUES (2, 2, N'email', N'UserA@acme.com', 0)
INSERT [dbo].[auth_user_ci] ([id], [user_id], [contact_type], [contact_value], [sort_order]) VALUES (3, 3, N'email', N'UserB@acme.com', 0)
SET IDENTITY_INSERT [dbo].[auth_user_ci] OFF
GO

SET IDENTITY_INSERT [dbo].[auth_user_ex] ON 
SET IDENTITY_INSERT [dbo].[auth_user_ex] OFF
GO

INSERT [dbo].[auth_user_rl] ([user_id], [role_id]) VALUES (1, 1)
INSERT [dbo].[auth_user_rl] ([user_id], [role_id]) VALUES (2, 2)
INSERT [dbo].[auth_user_rl] ([user_id], [role_id]) VALUES (3, 2)
GO

SET IDENTITY_INSERT [dbo].[auth_user_sa] ON 
SET IDENTITY_INSERT [dbo].[auth_user_sa] OFF
GO

SET IDENTITY_INSERT [dbo].[auth_users] ON 
INSERT [dbo].[auth_users] ([id], [username], [passwd], [fname], [lname], [notes], [schedule], [language], [badge]) VALUES (1, N'admin', N'W6ph5Mm5Pz8GgiULbPgzG37mj9g=', NULL, NULL, NULL, N'Always', N'en', NULL)
INSERT [dbo].[auth_users] ([id], [username], [passwd], [fname], [lname], [notes], [schedule], [language], [badge]) VALUES (2, N'UserA', N'W6ph5Mm5Pz8GgiULbPgzG37mj9g=', NULL, NULL, NULL, N'Always', N'en', NULL)
INSERT [dbo].[auth_users] ([id], [username], [passwd], [fname], [lname], [notes], [schedule], [language], [badge]) VALUES (3, N'UserB', N'W6ph5Mm5Pz8GgiULbPgzG37mj9g=', NULL, NULL, NULL, N'Always', N'en', NULL)
SET IDENTITY_INSERT [dbo].[auth_users] OFF
GO

SET IDENTITY_INSERT [dbo].[comments] ON 
INSERT [dbo].[comments] ([id], [note], [t_stamp], [identifier], [user_id]) VALUES (1, N'Test Note', CURRENT_TIMESTAMP, N'Overview', 1)
INSERT [dbo].[comments] ([id], [note], [t_stamp], [identifier], [user_id]) VALUES (2, N'Section A Test', CURRENT_TIMESTAMP, N'Section A', 1)
INSERT [dbo].[comments] ([id], [note], [t_stamp], [identifier], [user_id]) VALUES (3, N'Section B Test', CURRENT_TIMESTAMP, N'Section B', 1)
SET IDENTITY_INSERT [dbo].[comments] OFF
GO

SET IDENTITY_INSERT [dbo].[equipment] ON 
INSERT [dbo].[equipment] ([id], [name], [description]) VALUES (1, N'Machine 1', N'This is Machine 1')
INSERT [dbo].[equipment] ([id], [name], [description]) VALUES (2, N'Machine 2', N'This is Machine 2')
INSERT [dbo].[equipment] ([id], [name], [description]) VALUES (3, N'Machine 3', N'This is Machine 3')
SET IDENTITY_INSERT [dbo].[equipment] OFF
GO

SET IDENTITY_INSERT [dbo].[reports] ON 
SET IDENTITY_INSERT [dbo].[reports] OFF
GO

SET IDENTITY_INSERT [dbo].[tasks] OFF 
-- The below queries insert 4 tasks into the tasks database table for every weekday of the current calendar weekday.
-- The tasks always start at midnight and are always 4 hours long. 

-- Variable definitions

DECLARE @mondayMidnight DATETIME;
SET @mondayMidnight = (SELECT DATEADD(wk, DATEDIFF(wk,0,GETDATE()), 0) as mondayOfCurrentWeek);
DECLARE @tuesdayMidnight DATETIME;
SET @tuesdayMidnight = (SELECT DATEADD(dd, 1, @mondayMidnight) as tuesdayOfCurrentWeek);
DECLARE @wednesdayMidnight DATETIME;
SET @wednesdayMidnight = (SELECT DATEADD(dd, 2, @mondayMidnight) as wednesdayOfCurrentWeek);
DECLARE @thursdayMidnight DATETIME;
SET @thursdayMidnight = (SELECT DATEADD(dd, 3, @mondayMidnight) as thursdayOfCurrentWeek);
DECLARE @fridayMidnight DATETIME;
SET @fridayMidnight = (SELECT DATEADD(dd, 4, @mondayMidnight) as fridayOfCurrentWeek);
DECLARE @sundayMidnight DATETIME;
SET @sundayMidnight = (SELECT DATEADD(dd, -1, @mondayMidnight) as sundayOfPreviousWeek);
DECLARE @saturdayMidnight DATETIME;
SET @saturdayMidnight = (SELECT DATEADD(dd, -2, @mondayMidnight) as saturdayOfPreviousWeek);

--- Machine 1

-- Sunday Machine 1

INSERT [dbo].[tasks] ([name], [description], [equipment_id], [start_time], [end_time], [actual_start], [actual_end], [user_id]) VALUES 
(N'12 oz glass bottle', N'Producing 12 oz glass bottles', 1, DATEADD(hour, 0, @sundayMidnight), DATEADD(hour, 4, @sundayMidnight), DATEADD(minute, 5, @sundayMidnight), DATEADD(minute, 247, @sundayMidnight), 4)
INSERT [dbo].[tasks] ([name], [description], [equipment_id], [start_time], [end_time], [actual_start], [actual_end], [user_id]) VALUES 
(N'14 oz glass bottle', N'Producing 14 oz glass bottles', 1, DATEADD(hour, 5, @sundayMidnight), DATEADD(hour, 9, @sundayMidnight), DATEADD(minute, 303, @sundayMidnight), DATEADD(minute, 550, @sundayMidnight), 4)
INSERT [dbo].[tasks] ([name], [description], [equipment_id], [start_time], [end_time], [actual_start], [actual_end], [user_id]) VALUES 
(N'24 oz glass bottle', N'Producing 24 oz glass bottles', 1, DATEADD(hour, 10, @sundayMidnight), DATEADD(hour, 14, @sundayMidnight), DATEADD(minute, 606, @sundayMidnight), DATEADD(minute, 854, @sundayMidnight), 5)

-- Monday Machine 1


-- Tuesday Machine 1


-- Wednesday Machine 1


-- Thursday Machine 1


-- Friday Machine 1


--- Machine 2

-- Sunday Machine 2


-- Monday Machine 2


-- Tuesday Machine 2


-- Wednesday Machine 2


-- Thursday Machine 2


-- Friday Machine 2


--- Machine 3

-- Sunday Machine 3


-- Monday Machine 3


-- Tuesday Machine 3


-- Wednesday Machine 3


-- Thursday Machine 3


-- Friday Machine 3


--- Machine 4

-- Sunday Machine 4


-- Monday Machine 4


-- Tuesday Machine 4


-- Wednesday Machine 4


-- Thursday Machine 4


-- Friday Machine 4


-- End of Task Inserts --
SET IDENTITY_INSERT [dbo].[tasks] OFF
GO

SET IDENTITY_INSERT [dbo].[workorders] OFF 
INSERT [dbo].[workorders] ([name], [description], [equipment_id], [rating], [user_id]) VALUES (N'Calibrate', N'Sensor calibration on Equipment 1', 1, 10, 4)
INSERT [dbo].[workorders] ([name], [description], [equipment_id], [rating], [user_id]) VALUES (N'Belt Repair', N'Main drive belt inspect.', 1, 60, 4)
INSERT [dbo].[workorders] ([name], [description], [equipment_id], [rating], [user_id]) VALUES (N'Belt Repair', N'Main drive belt repair/replace.', 1, 90, 2)
SET IDENTITY_INSERT [dbo].[workorders] OFF
GO


/****** Foreign Keys    Script Date: 12/14/2020 7:29:08 AM ******/
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_auth_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_users] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_auth_users]
GO

ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FK_tasks_equipment] FOREIGN KEY([equipment_id])
REFERENCES [dbo].[equipment] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FK_tasks_equipment]
GO

ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FK_tasks_auth_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_users] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FK_tasks_auth_users]
GO